<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vị trí của bạn để cung cấp các tính năng dựa trên vị trí.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vị trí của bạn ngay cả khi ứng dụng không chạy để cung cấp các tính năng dựa trên vị trí.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng cần truy cập thư viện ảnh của bạn để lưu và truy xuất hình ảnh.</string>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập camera để chụp ảnh.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập microphone để ghi âm.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ứng dụng cần quyền lưu ảnh vào thư viện của bạn.</string>
	<key>io.flutter.experimental.impeller</key>
    <false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Don Ganh App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>don_ganh_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>FLTDisableImpeller</key>
    <false/>
	
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.459872854706-6q2tk8as2nnu427otlpoprtc4vnm84oh</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>com.googleusercontent.apps.459872854706-6q2tk8as2nnu427otlpoprtc4vnm84oh</string>
	</array>

	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>Location</key>
		<string>Ứng dụng cần quyền vị trí để cung cấp các tính năng dựa trên vị trí.</string>
	</dict>
</dict>
</plist>
